<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Gag</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>This is Random Gag</h1>
    <hr/>
        <table class="table table-striped table-bordered" id="customersTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="gag: ${gags}">
                    <td th:text="${gag.gagDetail}"/>
                    <td th:text="${gag.author}"/>
                </tr>
            </tbody>
        </table>
    <h1><a href="/randomgag">New Gag</a></h1>
    <h1><a href="/">back to home</a></h1>
</body>
</html>