<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add your Story</title>
</head>
<body>
    <h1>Add your story</h1>
    <form method="post" th:action="@{/addGag_success}" th:object="${gag}">
        <!-- <div>
            <label>Gag Id : </label>
            <input type="text" th:field="*{gagId}" placeholder="Username" required></input>
        </div> -->
        <div>
            <label>Gag Detail : </label>
            <input type="text" th:field="*{gagDetail}" placeholder="Email" required></input>
        </div>
        <div>
            <label>Author : </label>
            <input type="text" th:field="*{author}" placeholder="Password" required></input>
        </div>
        <button type="submit">Add gag</button>
    </form>
</body>
</html>