<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" th:action="@{/register_success}" th:object="${user}">
        <div>
            <label>Username : </label>
            <input type="text" th:field="*{name}" placeholder="Username" required></input>
        </div>
        <div>
            <label>Email : </label>
            <input type="text" th:field="*{email}" placeholder="Email" required></input>
        </div>
        <div>
            <label>Password : </label>
            <input type="text" th:field="*{password}" placeholder="Password" required></input>
        </div>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>